
__pycache__
*.py[cod]
*$py.class
*.pyo
*.pyc
*.pyd

.env
*.env
.env.local
.env.*.local
/env
.venv


db.sqlite3
test.md

# Local settings
/CommunityMapping/settings/local.py
/CommunityMapping/settings/dev_*.py
/CommunityMapping/settings



.vscode

*.log
logs/


/static/
/media/


/testdb/

package-lock.json
package.config.js